In [34]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [36]:
path_to_file = 'kaggle_survey_2022_responses.csv'

In [37]:
pd.read_csv(path_to_file)

C:\Users\User\AppData\Local\Temp\ipykernel_11232\2349695370.py:1: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(path_to_file)

,Duration (in seconds),Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,...,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,"Are you currently a student? (high school, uni...",On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...
1,121,30-34,Man,India,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,462,30-34,Man,Algeria,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,293,18-21,Man,Egypt,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,NaN,NaN,NaN,NaN
4,851,55-59,Man,France,No,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23993,331,22-24,Man,United States of America,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
23994,330,60-69,Man,United States of America,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
23995,860,25-29,Man,Turkey,No,NaN,NaN,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
23996,597,35-39,Woman,Israel,No,NaN,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
23997,303,18-21,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other

In [11]:
df = pd.read_csv('kaggle_survey_2022_responses.csv')
df.head(5)

C:\Users\User\AppData\Local\Temp\ipykernel_11232\3544531831.py:1: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('kaggle_survey_2022_responses.csv')

,Duration (in seconds),Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,...,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,"Are you currently a student? (high school, uni...",On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...
1,121,30-34,Man,India,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,462,30-34,Man,Algeria,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,293,18-21,Man,Egypt,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,NaN,NaN,NaN,NaN
4,851,55-59,Man,France,No,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN

In [12]:
df.iloc[: :150]

,Duration (in seconds),Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,...,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,"Are you currently a student? (high school, uni...",On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...
150,212,22-24,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,280,22-24,Man,India,Yes,Coursera,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,2665,30-34,Man,Egypt,No,Coursera,NaN,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...","Slack Communities (ods.ai, kagglenoobs, etc)",NaN,NaN
600,359,18-21,Woman,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...","Slack Communities (ods.ai, kagglenoobs, etc)",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23250,935,25-29,Prefer not to say,Ethiopia,No,NaN,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23400,218,25-29,Man,Other,No,Coursera,NaN,Kaggle Learn Courses,DataCamp,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23550,225,30-34,Man,Nigeria,No,Coursera,NaN,NaN,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,NaN,NaN,"Slack Communities (ods.ai, kagglenoobs, etc)",NaN,NaN
23700,76760,22-24,Man,India,No,NaN,edX,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23850,568,18-21,Woman,India,Yes,NaN,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN

# Задание 1
Узнай самый частый возраст респондентов

In [13]:
df['Q2'].value_counts().iloc[:1]

18-21    4559
Name: Q2, dtype: int64

# Задача 2
Посчитай долю женщин среди русских участников опроса, которые уже не учатся.
Результат округли до двух знаков после запятой

In [14]:
round(df[(df['Q4'] == 'Russia') & (df['Q5'] == 'No')].Q3.str.contains('Woman').mean(), 2)

0.24

# Задача 3
Найди среднее время охвата опроса в окрестностях .
Результат округли до двух знаков после запятой

In [ ]:
round(df['Duration (in seconds)'].astype('int').mean() / 60, 2)

# Задача 4
Выведи топ-3 учебных курсов, которые используюти респонденты.
PS Это вопрос Q6

In [22]:
q6_columns = [col for col in df.columns if col.startswith('Q6')]
q6_columns

courses = df[q6_columns].melt(var_name='Курсы', value_vars=q6_columns)
courses['value'].value_counts().iloc[:3]

Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: value, dtype: int64

# Задача 5
Узнай топ-5 языков программирования, которые встречаются с "Data Scientist" в своей работе.

In [25]:
df_task5 = df[df['Q23'] == 'Data Scientist']
q12_task5_columns = [col for col in df_task5.columns if col.startswith('Q12')]
languages_task5 = df_task5[q12_task5_columns].melt(var_name='ЯП', value_vars=q12_task5_columns)
languages_task5['value'].value_counts().iloc[:5]

Python        1808
SQL           1140
R              530
Bash           248
Javascript     187
Name: value, dtype: int64

# Задача 6
Узнай средний доход среди специалистов Data Scientist и средний доход среди специалистов Machine Learning/MLops Engineer
Т.к. в столбце Q29 указан интервал, то возьми среднее значение из промежутка.

Например:

'15 000-19 999' - 17 500,
«125 000–149 999» — 137 500.
> $1,000,000 - оставляем 1000000
Средние доходы округли до места жительства.

In [30]:
earn_mapping = {
    '$0-999' : 500, '10,000-14,999' : 12500, '30,000-39,999' : 35000, '1,000-1,999' : 1500, '40,000-49,999' : 45000,
 '100,000-124,999' : 112500, '5,000-7,499' : 6250, '50,000-59,999' : 55000, '7,500-9,999' : 8750, '150,000-199,999' : 175000, 
 '20,000-24,999' : 22500, '60,000-69,999' : 65000, '15,000-19,999' : 17500, '70,000-79,999' : 75000, '25,000-29,999' : 27500, 
 '2,000-2,999' : 2500, '125,000-149,999' : 137500, '3,000-3,999' : 3500, '4,000-4,999' : 4500, '80,000-89,999' : 85000, 
 '90,000-99,999' : 95000, '200,000-249,999' : 225000, '250,000-299,999' : 275000, '300,000-499,999' : 400000,
 '$500,000-999,999' : 750000, '>$1,000,000' : 1000000
}

In [31]:
df['Q29-NEW'] = df['Q29'].map(earn_mapping)

In [32]:
df['Q29-NEW'].value_counts().head(10)

500.0       1112
12500.0      493
35000.0      464
1500.0       444
45000.0      421
112500.0     404
6250.0       391
55000.0      366
8750.0       362
175000.0     342
Name: Q29-NEW, dtype: int64

In [33]:
df.groupby(['Q23']).mean().sort_values('Q29-NEW', ascending=False).round().head(10)

                                                     Q29-NEW
Q23
Manager (Program, Project, Operations, Executiv...  100944.0
Data Architect                                       92659.0
Research Scientist                                   71432.0
Developer Advocate                                   71032.0
Data Scientist                                       70337.0
Machine Learning/ MLops Engineer                     67438.0
Software Engineer                                    51028.0
Other                                                49662.0
Data Engineer                                        48551.0
Statistician                                         34706.0